* {
	color: black;
	font-family: "Georgia", sans-serif;
}

h1 {
    color: white;
}

body {
	align-items: center;
	text-align: center;
	background-color:#55828B;
}

.container {
    max-width: 420px;
    margin: 50px auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(50px);
}

